a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    height: 70px;
    background-color: rgb(24 92 175);  
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 10%;
    padding: 10px;
}
.text{
font-size: 20px;
font-weight: 900;
color: aliceblue;
}

.login{
    padding: 5px;
    width: 100px;
    font-size: 15px;
    outline: none;
    border: none;
    font-weight: none;
    cursor: pointer;
}