<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attuned Pathways Welcome</title>
    <style type="text/css">
        body{
            margin:0;
            padding: 0;
            min-width:100%;
            font-family: Arial,sans-serif;
            font-size:16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color:#222222;
        }
        a{
            color:#000;
            text-decoration: none;
        }

        h1{
            font-size:24px;
            font-weight:700;
            line-height:1.25;
            margin-top:0;
            margin-bottom:15px;
            text-align:center;
        }

        p{
            margin-top: 0;
            margin-bottom: 24px;
        }
        table td{
            vertical-align: top;
        }
        .email-wrapper{
            max-width:700px;
            margin: 0 auto;
        }
        .email-header{
            background-color: #185caf;
            padding: 24px;
            color: #fff;
        }

        .email-body{
            padding:24px;
            background-color: #f6f6f6;
        }
        .email-footer{
            background-color: #f6f6f6;
            padding: 24px;
        }
    </style>
</head>
<body>

    <div class="email-wrapper">
        <div class="email-header">
            <h1>You've changed password.</h1>
        </div>    
        <div class="email-body">
        <p>Your password have been updated successfully.</p>
        <p>New Password: <%= password %></p>    
        <span>You maybe required to login into your account change password</span>
        <p>Please Keep this credentials privately. Don't share with Anyone</p>
        </div>    
   </div>    
</body>
</html>